[Desktop Entry]
Type=Application
Name=Second Script
Exec=xfce4-terminal --execute "bash /home/aneesh/paxxer/second.sh"
StartupNotify=false
Terminal=false
